@using Microsoft.AspNetCore.Components.Routing

<ul class="navbar-nav gap-3 @CssClass">
    @foreach (var item in MenuItems)
    {
        <li class="nav-item">
            <NavLink class="nav-link text-uppercase fw-semibold small" href="@item.Href" Match="@item.Match">
                @item.Text
            </NavLink>
        </li>
    }
</ul>

@code {
    [Parameter] public string? CssClass { get; set; }

    private IReadOnlyList<MenuItem> MenuItems { get; } = new List<MenuItem>
    {
        new("/", "Inicio", NavLinkMatch.All),
        new("/agendas", "Agendas y planner"),
        new("/personaliza", "Personaliza tu tapa"),
        new("/lapices", "Lápices/destacadores"),
        new("/stickers", "Stickers"),
        new("/conocenos", "Conócenos")
    };

    private record MenuItem(string Href, string Text, NavLinkMatch Match = NavLinkMatch.Prefix);
}
